# Copyright 2025 Stanford University, NVIDIA Corporation
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Ignore these with git archive
.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.gitkeep export-ignore

.gitignore text

.gitattributes text
.gitattributes linguist-language=gitattributes
.gitattributes linguist-detectable=true
.gitattributes linguist-documentation=false

*.h.in linguist-language=c++
*.cc.in linguist-language=c++

[attr]c-style whitespace=tab-in-indent format.clang-format=15
[attr]cmake-style whitespace=tab-in-indent format.cmake-format=true

*.h      c-style
*.h.in   c-style
*.hpp    c-style
*.inl    c-style
*.c      c-style
*.cc     c-style
*.cc.in  c-style
*.cu     c-style
*.cmake         cmake-style
*.cmake.in      cmake-style
*CMakeLists.txt cmake-style

*.png binary
*.md linguist-documentation
doxygen/** linguist-documentation

# Expand VERSION with the version information with git archive
VERSION export-subst
